@font-face {
    font-family: Renogare;
    src: url("res/Renogare-Regular.otf") format("opentype");
}

* {
    margin: 0;
}
.lineTop {
    width:28px;
    height: 0px;
    position: absolute;
    left: 7.5px;
    top: 33px;
    border: 1px solid black;
}
.lineBottom {
    width:28px;
    height: 0px;
    position: absolute;
    left: 7.5px;
    top: 533px;
    border: 1px solid black;
}
.lineMiddle {
    height: 500px;
    top: 33px;
    width: 0px;
    position: absolute;
    left: 21.5px;
    border: 1px solid black
}

.playerMarker {
    background-color: black;
    width: 18px;
    height: 18px;
    border-radius: 25px;
    position: absolute;
    left: 11.5px;
    top: 522.5px;
    transition: transform 2s ease-in-out;
    border: 2px solid black;
    /* transform: translateY(-737px) */
}

.playerTags{
    font-family: Renogare, sans-serif;
    font-size: 36px;
    /* display: grid;
    grid-template-columns: auto;
    align-content: start; */
    position: absolute;
    top: 33px;
    left: 50px;
    width: 500px;
    height: 740px;
}

.player{
    height: 46px;
    line-height: 33px;
    color: white;
    text-shadow: 0px 2px 0 black,
                 0px -2px 0 black,
                 2px 0px 0 black,
                 -2px 0px 0 black,
                 2px 2px 0 black,
                 2px -2px 0 black,
                 -2px 2px 0 black,
                 -2px -2px 0 black;
    text-align: right;
    position: absolute;
    transition: transform 2s ease-in-out;
    left: 0%;
    top: 0;
    width: max-content;
}
.player p{
    position: relative;
    margin-left: 15px;
    z-index: 10;
}
.player .times{
    font-size: 42px;
    text-shadow: 0px 1.75px 0 black,
                 0px -1.75px 0 black,
                 1.75px 0px 0 black,
                 -1.75px 0px 0 black,
                 1.75px 1.75px 0 black,
                 1.75px -1.75px 0 black,
                 -1.75px 1.75px 0 black,
                 -1.75px -1.75px 0 black;
}
.player .box{
    background-color: black;
    width: calc(100% - 10px);
    border-left: 10px solid lightgray;
    height: 29px;
    position: absolute;
    top: 14px;
    z-index: 0;
}
/* .player .box::before{
    content: "";
    width: 0px;
    height: 0px;
    border-top: 29px solid;
    border-left: 10px solid;
    border-color: attr(data-color string);
    position: absolute;
    top: 0%;
    left: 0%;
} */
.player .box::after{
    content: "";
    width: 0px;
    height: 0px;
    border-top: 29px solid black;
    border-right: 17px solid transparent;
    position: absolute;
    top: 0%;
    left: 100%;
}

#flag {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 0px;
    left: 19px;
}